@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*    --foreground-rgb: 0, 0, 0;*/
/*    --background-start-rgb: 252, 252, 252;*/
/*    --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

body {
    background: rgb(85, 85 ,91);
}
a{
    color:#d1d1d1;
    text-decoration: underline 2px #3c3ca8;
    text-underline-offset: 5px;
    font-size: 10px;
    transition: 0.3s;
}
a:hover{
    color: #ffffff;
    font-size: 13px;
    text-decoration: underline 2px blue;
    text-underline-offset: 5px;
}
a.noneStyleLink{
    color:unset;
    text-decoration: unset;
    text-underline-offset: unset;
    font-size: unset;
    transition: unset;
}
ul > li {
    margin-left: 20px;
}
